@import "tailwindcss";



@layer base{
  body{
    @apply bg-black text-white relative font-sans h-screen overflow-x-hidden
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Keeps the section title from hiding behind the header */
}