@import "tailwindcss";



@layer base{
  body{
    @apply bg-black text-white relative font-sans h-screen overflow-x-hidden
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Keeps the section title from hiding behind the header */
}


[data-aos] {
  pointer-events: none;
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateZ(0); /* Forces GPU Acceleration */
}

[data-aos].aos-animate {
  pointer-events: auto;
}