@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white relative font-sans min-h-screen overflow-x-hidden;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; 
}


[data-aos] {
  pointer-events: none;
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateZ(0); 
}

[data-aos].aos-animate {
  pointer-events: auto;
}

*:focus {
  outline: none;
}